.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

#about-section {
  margin-left: 20px;
  margin-top: 20px;
}

.navbar.navbar-inverse{
  background-color: #ffffff;
  border-bottom: 0px;
  border-top: 0px;
}

#summarize{
  color: purple
}

#summarize:hover{
  background-color: purple;
  color: white;
}

#summarize.active{
  background-color: purple;
  color: white;
}

#home{
  color: green
}

#home:hover{
  background-color: green;
  color: white;
}

#home.active{
  background-color: green;
  color: white;
}

#about{
  color: blue
}

#about:hover{
  background-color: blue;
  color: white
}

#about:active{
  background-color: blue;
  color: white
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  font-weight: bold;
  color: black;
}

.navbar-toggle{
  background-color: black;
}